<main>
    <p>
        Versatile Software Developer with extensive experience in web, server, and mobile development. Experienced using
        a vast range of libraries and technologies. Creative with an ability to grasp new technologies and concepts
        quickly. Looking forward to the next challenge.
    </p>
    <section class="projects">
        <h2>Projects</h2>
        @for (project of projects; track project) {
        <a href="{{project.link}}">
            <mat-card class="project">
                <mat-card-header>
                    <mat-card-title>
                        {{project.title}}
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{ project.img }}" />
                <mat-card-content>
                    <p>{{project.description}}</p>
                </mat-card-content>
            </mat-card>
        </a>
        }
    </section>
    <section class="experiences">
        <h2>Experience</h2>
        @for (experience of experiences; track experience) {
        <mat-card appearance="outlined" class="experience">
            <mat-card-header>
                <mat-card-title>
                    {{experience.company}}, {{experience.location}} — {{experience.position}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span class="dates">{{experience.startDate}} — {{experience.endDate}}</span>
                @if (experience.content) {
                <ul class="list">
                    @for (content of experience.content; track $index) {
                    <li>
                        {{content}}
                    </li>
                    }
                </ul>
                }
            </mat-card-content>
        </mat-card>
        }
    </section>
</main>