:host {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    div {
        display: flex;
        align-items: center;
    }

    img {
        max-width: 100px;
        height: auto;
        object-fit: contain;
        border: 1px solid transparent;
        border-radius: 30px;
    }

    h1 {
        font: var(--mat-sys-display-small);
        color: var(--mat-sys-primary);

    }

    span {
        color: black;
        font: var(--mat-sys-label-large);
        font-style: italic;
        text-decoration: underline;
    }

    a {
        color: var(--mat-sys-primary);
        text-decoration: none;
    }


}